.headerBottomBlock {
  padding: 14px 0;
  display: flex;
  align-items: center;
  gap: 72px;
}

.headerButton {
  max-height: 48px;
}


.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
