@font-face {
  font-family: 'Euclid Circular A';
  src: url('./Euclid\ Circular\ A\ Medium.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('./Euclid\ Circular\ A\ SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('./Euclid\ Circular\ A\ Bold.ttf') format('truetype');
  font-weight: 700;
}
