@import '../../../../styles/variables.scss';

.serviceCard {
  padding: 12px 40px 24px 40px;
  width: 370px;
  height: 460px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
  background-color: $bg-color-secondary;
  border-radius: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.img {
  max-width: 188px;
  height: auto;
}

.textContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.descr {
  color: $text-color-descr;
  padding-top: 12px;
  margin-top: auto;
}

.btn {
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  align-items: center;
  width: 200px;
}
