@import '/src/assets/fonts/fonts.scss';
@import 'variables.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Euclid Circular A';
}

body,
html {
  min-width: 320px;
  scroll-behavior: smooth;
  position: relative;
  font-family: 'Euclid Circular A';
  color: $text-color-primary;
  font-weight: 400;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

section {
  margin-top: 120px;
}

@media (max-width: 1024px) {
  section {
    margin-top: 80px;
  }
}

@media (max-width: 960px) {
  section {
    margin-top: 60px;
  }
}
