$brand-color-1: #00AEEF;
$brand-color-2: #434C5E;
$brand-color-3: #FFF;

$text-color-1: $brand-color-2;
$text-color-2: $brand-color-1;
$text-color-3: $brand-color-3;
$text-color-descr: #89909C;
$text-color-copyright: #A1A5AE;

$bg-color-1: $brand-color-3;
$bg-color-2: #F7F8FA;
$bg-color-3: $brand-color-1;
$bg-color-4: #B2E7FA33;


$btn-1: $brand-color-2;
$btn-1-hover: $brand-color-1;

$btn-blue: $brand-color-1;
$btn-blue-hover: #0080b3;
$btn-blue-text: $brand-color-3;
$btn-blue-text-hover: #e0e0e0;

$btn-white: $brand-color-3;
$btn-white-hover: #e6e6e6;
$btn-white-text: $brand-color-1;
$btn-white-text-hover: $brand-color-2;

$btn-outline: $brand-color-1;
$btn-outline-hover: #0080b3;
$btn-outline-bg-hover: #e6e6e6;

$btn-outlineDark: $brand-color-2;
$btn-outlineDark-hover: #6b7484;
$btn-outlineDark-bg-hover: #e6e6e6;

$shadow-color: #00000014;

$input-mask-color: #ABBAC8;

$border-color: #E3E4E7;

$carousel-controls-color: #8CDBF8;
