$brand-color-primary: #00aeef;
$brand-color-secondary: #434c5e;
$brand-color-tertiary: #fff;

$text-color-primary: $brand-color-secondary;
$text-color-secondary: $brand-color-primary;
$text-color-tertiary: $brand-color-tertiary;
$text-color-descr: #89909c;
$text-color-copyright: #a1a5ae;
$text-color-error: #ff3333;

$bg-color-primary: $brand-color-tertiary;
$bg-color-secondary: #f7f8fa;
$bg-color-tertiary: $brand-color-primary;
$bg-color-quaternary: #b2e7fa33;

$btn-primary: $brand-color-secondary;
$btn-primary-hover: $brand-color-primary;

$btn-blue: $brand-color-primary;
$btn-blue-hover: #0080b3;
$btn-blue-text: $brand-color-tertiary;
$btn-blue-text-hover: #e0e0e0;

$btn-white: $brand-color-tertiary;
$btn-white-hover: #e6e6e6;
$btn-white-text: $brand-color-primary;
$btn-white-text-hover: $brand-color-secondary;

$btn-outline: $brand-color-primary;
$btn-outline-hover: #0080b3;
$btn-outline-bg-hover: #e6e6e6;

$btn-outlineDark: $brand-color-secondary;
$btn-outlineDark-hover: #6b7484;
$btn-outlineDark-bg-hover: #e6e6e6;

$shadow-color: #00000014;

$input-mask-color: #abbac8;
$input-border-color: #abbac84c;

$border-color: #e3e4e7;

$carousel-controls-color: #8cdbf8;
