@import '../../../../styles/variables';

.headerMobile {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
}

.btnsWrapper {
  display: flex;
  gap: 33px;
  button {
    padding: 0;
  }
}
.logo {
  align-items: center;
}

.topSection {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.display {
  position: fixed;
  top: 0;
  right: 0;
  padding: 24px;
  width: 100%;
  height: 100%;
  background-color: $bg-color-primary;
  z-index: 2000;
  overflow: scroll;
}

.displayNone {
  display: none;
}

.close {
  padding: 0;
}
