@mixin baseButton {
  border-radius: 100px;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 14px;
}

.button {
  background-color: transparent;
  border: none;
  color: #434c5d;
  cursor: pointer;
  &:hover {
    scale: 1.01;
  }
}

.large {
  padding: 16px 43px;
}

.medium {
  padding: 10px 32px;
}

.small {
  padding: 0;
}

.blue {
  @include baseButton;
  background-color: #00aeef;
  color: #ffffff;
  &:hover {
    scale: 1.01;
    background-color: #0080b3;
  }
}

.white {
  @include baseButton;
  background-color: #ffffff;
  color: #00aeef;
  &:hover {
    background-color: #e6e6e6;
  }
}

.outline {
  @include baseButton;
  border: 2px solid #00aeef;
  color: #00aeef;
  &:hover {
    background-color: #e6e6e6;
  }
}

.outlineDark {
  @include baseButton;
  border: 2px solid #434c5d;
  color: #434c5d;
  &:hover {
    background-color: #e6e6e6;
  }
}
