@import '../../../styles/variables.scss';

@mixin baseButton {
  border-radius: 100px;
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.37;
}

.button {
  background-color: transparent;
  border: none;
  color: $btn-primary;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: all 0.3s ease;

  &:hover {
    color: $btn-primary-hover;
  }
}

.medium {
  padding: 14px 35px;
}

.small {
  padding: 8px 30px;
}

.blue {
  @include baseButton;
  background-color: $btn-blue;
  color: $btn-blue-text;

  &:hover {
    background-color: $btn-blue-hover;
    color: $btn-blue-text-hover;
  }
}

.white {
  @include baseButton;
  background-color: $btn-white;
  color: $btn-white-text;

  &:hover {
    background-color: $btn-white-hover;
    color: $btn-white-text-hover;
  }
}

.outline {
  @include baseButton;
  border-color: $btn-outline;
  color: $btn-outline;

  &:hover {
    background-color: $btn-outline-bg-hover;
    border-color: $btn-outline-hover;
    color: $btn-outline-hover;
  }
}

.outlineDark {
  @include baseButton;
  border-color: $btn-outlineDark;
  color: $btn-outlineDark;

  &:hover {
    background-color: $btn-outlineDark-bg-hover;
    color: $btn-outlineDark-hover;
    border-color: $btn-outlineDark-hover;
  }
}
