@import '../../../../../../styles/variables.scss';

.createTariff {
  padding: 24px;
  width: 292px;
  height: 404px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  color: $text-color-secondary;
  font-size: 24px;
  max-width: 150px;
  text-align: center;
  font-weight: 600;
  line-height: 1.25;
}
.img {
  width: 172px;
  height: auto;
  scale: 1.3;
}

@media (max-width: 1024px) {
  .createTariff {
    height: 376px;
    width: 255px;
  }
  .title {
    font-size: 22px;
    line-height: 1.27;
  }
  .img {
    width: 160px;
  }
}
