@import '../../../../../../styles/variables.scss';
.headerSelectCity {
  display: flex;
  flex-direction: column;
  border-bottom: $border-color dashed 1px;
}

.locationButton {
  position: relative;
  font-size: 14px;
  line-height: 1.42;
  padding: 0;
}

@media (max-width: 960px) {
  .headerSelectCity {
    align-self: center;
  }
}
