@import '../../../styles/variables.scss';
.promo {
  padding-top: 80px;
}

.title {
  font-size: 72px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: $text-color-primary;
  line-height: 1.13;
  span {
    color: $text-color-secondary;
  }
}

.grid {
  margin-top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 25px;
  grid-template-rows: 345px 320px 460px;
}

.card {
  padding: 40px;
  max-width: 568px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 310px;
  border-radius: 24px;
  background-color: $bg-color-secondary;
}

.first {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.second {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}

.third {
  grid-column: 5 / 7;
  grid-row: 3 / 4;
}
