@import '../../../styles/variables.scss';

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  &__big {
    font-size: 36px;
    line-height: 1.27;
    letter-spacing: 0.11px;
  }
  &__white {
    color: $text-color-tertiary;
  }
}

.description {
  font-size: 16px;
  line-height: 1.87;
  color: $text-color-descr;
  &__big {
    font-size: 22px;
    line-height: 1.45;
  }
  &__white {
    color: $text-color-tertiary;
  }
}

.img {
  position: relative;
  width: 188px;
  height: auto;
  margin-top: -26px;
}

.btn {
  margin-top: auto;
  width: 200px;
}

@media (max-width: 1024px) {
  .title {
    font-size: 22px;
    line-height: 1.27;
    &__big {
      font-size: 32px;
      line-height: 1.31;
    }
  }

  .description {
    font-size: 16px;
    max-width: 300px;
    line-height: 1.5;
  }

  .img {
    position: relative;
    width: 142px;
    margin-top: -26px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
  }
  .img {
    position: relative;
    width: 90px;
    margin-top: -20px;
    margin-left: -10px;
  }
  .description {
    display: none;
    &__big {
      font-size: 12px;
      line-height: 1.5;
    }
  }

  .btn {
    width: 100%;
    max-height: 30px;
    justify-content: center;
  }
}
