@import '../../../styles/variables.scss';

.title {
  color: $text-color-primary;
  font-weight: 600;
  line-height: 22px;
}

.btn {
  position: absolute;
  top: 16px;
  right: 16px;
  svg path,
  circle {
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    svg path {
      fill: $text-color-descr;
    }
    circle {
      fill: $btn-outline-bg-hover;
    }
  }
}

.package {
}

.messengers {
  display: flex;
  align-items: flex-start;
}

.calls {
  display: flex;
  gap: 10px;
  max-width: 150px;
}

.freeCalls {
  font-size: 12px;
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 8px;
  align-items: center;
  button {
    padding: 0;

    &:hover {
      svg path {
        fill: $text-color-descr;
      }
      circle {
        fill: $btn-outline-bg-hover;
      }
    }
  }
}
.buttonsText {
  align-self: center;
  font-size: 12px;
  font-weight: 600;
  color: $text-color-primary;
  line-height: 1.16;
}
