.ownNumber {
  grid-area: number;
}

@media (max-width: 768px) {
  .ownNumber {
    &__superWrapper {
      display: flex;
      flex-direction: row-reverse;
    }
    &__description {
      display: block;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 4px;
      height: 100%;
    }
    &__img {
      width: 120px;
    }
    &__btn {
      width: 144px;
      align-self: center;
    }
  }
}
