@import '../../../../styles/variables.scss';

.mainTariffContainer {
  max-width: 720px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 56px;
  font-weight: 600;
  line-height: 1.1;
  &__create {
    color: $text-color-secondary;
    margin: 0 8px;
  }
}

.cardsWrapper {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

@media (max-width: 1024px) {
  .title {
    font-size: 50px;
    line-height: 1.12;
  }
  .cardsWrapper {
    margin-top: 40px;
    gap: 18px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
    line-height: 1.25;
  }

  .cardsWrapper {
    margin-top: 30px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
}
