@import '../../../../../../styles/variables.scss';
.carousel {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  width: 100%;
}
.inner {
  display: flex;
  gap: 6px;
  position: relative;
  transition: transform 1s ease;
  width: 100%;
}
.promoSlider {
  margin-top: 40px;
  width: 100%;
  flex: 0 0 100%;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 180px;
  }
  &__innerWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__textWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__title {
    color: $text-color-tertiary;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
  }
  &__descr {
    color: $text-color-tertiary;
    font-size: 12px;
    line-height: 1.5;
  }
  &__carouselButtons {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 12px;
  }
  &__btn {
    height: 30px;
    width: 156px;
    font-size: 12px;
    padding: unset;
  }
}

@media (max-width: 768px) {
  .carousel {
    display: flex;
    gap: 8px;
    overflow-x: hidden;
    scrollbar-width: none;
    width: 100vw;
    margin-left: -20px;
    margin-right: -20px;
  }
  .promoSlider {
    padding: 20px;
    height: 220px;
    display: flex;
    justify-content: center;
    flex: 0 0 50%;
    transform: translateX(-50%);
    left: 50%;
    &__img {
      width: 145px;
      height: 108px;
    }
  }
}
