@import '../../../../styles/variables';

.img {
  max-width: 188px;
  height: auto;
}

.textContent {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.descr {
  margin-top: 12px;
  color: $text-color-descr;
  line-height: 1.87;
}

.btn {
  display: flex;
  justify-content: center;
  width: 200px;
}
