@import '../../../../styles/variables.scss';
.promo {
  padding-top: 80px;
}

.title {
  font-size: 72px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: $text-color-primary;
  line-height: 1.13;
  span {
    color: $text-color-secondary;
  }
}

.grid {
  margin-top: 40px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(6, calc(1040px / 6));
  grid-template-rows: 367px 310px 458px;
}

.blueGrid {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}
.blueWrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.blueTitle {
  color: $text-color-tertiary;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.27;
}

.blueInnerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.blueTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blueDescr {
  color: $text-color-tertiary;
  font-size: 22px;
  max-width: 350px;
  line-height: 1.45;
}

.blueImg {
  max-width: 356px;
  height: auto;
}

.blueCarouselButtons {
  position: absolute;
  display: flex;
  gap: 6px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.greyFormGrid {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.chooseTariff {
  background-image: url('/src/assets/images/package-pricing.png');
  background-size: 270px;
  background-position: 100%;
  grid-column: 4 / 7;
  grid-row: 2 / 3;
}

.vertical {
  width: 370px;
  height: 460px;
}

.ownNumber {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.internet {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}

.netShop {
  grid-column: 5 / 7;
  grid-row: 3 / 4;
}

.perfectTariff {
  grid-column: 3 / 6;
}

.outlineCard {
  padding: 24px;
  height: 404px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  border: 1px solid $border-color;
}

.tariff {
  width: 292px;
}

.constructor {
  position: relative;
  justify-content: space-between;
  width: 324px;
  align-items: flex-start;
}
