@import '../../../../styles/variables.scss';

.mainPromo {
  margin-top: 80px;
  position: relative;
}

.title {
  font-size: 72px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: $text-color-primary;
  line-height: 1.13;
  span {
    color: $text-color-secondary;
  }
}

.grid {
  margin-top: 24px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 310px 460px;
  grid-template-areas:
    'form form form tariff tariff tariff'
    'number number internet internet shop shop';
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 1024px) {
  .title {
    font-size: 64px;
    line-height: 1.15;
    letter-spacing: 0.64px;
  }

  .grid {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 312px 430px;
    grid-template-areas:
      'form form form tariff tariff tariff'
      'number number internet internet shop shop';
  }
}

@media (max-width: 768px) {
  .mainPromo {
    margin-top: 60px;
  }

  .title {
    font-size: 42px;
    line-height: 1.23;
    letter-spacing: 0.42px;
  }

  .grid {
    margin-top: 20px;
    display: grid;
    gap: 11px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 222px 210px 242px 182px;
    grid-template-areas:
      'tariff tariff internet internet'
      'shop shop shop shop'
      'form form form form'
      'number number number number';
  }

  .textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
