@import '../../../styles/variables.scss';
.link {
  color: $text-color-primary;
  position: relative;
  font-size: 14px;
  line-height: 1.42;
}

.blue {
  font-size: 16px;
  line-height: 1.50;
  color: $text-color-secondary;
}
